/* Start Variables */
:root {
    --main-color: hsl(193, 96%, 54%);
    --main-trans: rgba(25, 201, 250, 0.349);
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.5s;
}
/* End Variables */


/* Start Global Rules */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
        background-color: #ffffff;

}

body {
    font-family: "Open Sans", sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* End Global Rules */

/* Start Media */

@media (min-width:675px) {
    .container {
        width: 80%;
    }
    .header .toogle-menu {
        display: none;
    }
}


@media (min-width:0px) and (max-width:675px) {
    .container {
        width: 80%;
    }
} 


@media  (max-width: 768px) {
    .container {
        width: 80%;
    }
}


@media  (min-width: 768px) and (max-width:992px) {
    .container {
        width: 80%;
    }
}


@media (min-width: 992px) and (max-width: 1200px) {
    .container {
        width: 80%;
    }
}


@media (min-width: 1200px) {
    .container {
        width: 80%;
    }
}


/* End Media */

.header {
    position: absolute;
    width: 100%;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 80px;
    z-index: 5;
}

.header .container::before {
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    background-color: rgb(255, 255, 255);
    height: 1px;
    left: 15px;
    bottom: -2px;
    z-index: -1;
}

.header nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    height: 80px;
    width: calc(100% - 30px);
}

.header ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 50px;
}

.header ul li {
    display: block;
    position: relative;
    padding: 15px 15px 15px 5px;
    height: 30px;
    width: 100%;
}

.header ul li a.active ,
.header ul li a:hover {
    color: var(--main-color);
    border-bottom: var(--main-color) 1px solid;
    padding-bottom: 31px;
    z-index: 2;
}

.header .glass1 {
    position: absolute;
    display: flex;
    height: 30px;
    width: 40px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 22px;
    border-left: 1px solid white;
    padding: 0px 10px;
}

.header nav .glass1 .glass {
    position: absolute;
    top: 3px;
    transition: 0.5s ease-in-out;
}

.header nav .glass1 .glass:hover {
    color: var(--main-color);
    transform: rotate(360deg);
}

.header .toogle-menu {
    padding: 0 5px 0 10px;
    margin-left: 10px;
    font-size: 23px;
    color: white;
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translatey(-50%);
}

.header a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

@media (min-width:0px) and (max-width:675px) {
    .container {
        width: 80%;
    }
    .header nav {
        position: absolute;
        margin: auto;
        width: 88%;
    }
    .header nav ul {
        display: none;
    }
    .header nav ul li {
        padding: 40px 5px 5px 5px;
        left: 0;
    }
    .header nav ul li a  {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: none;
        color: white;
        padding: 15px !important;
        margin-bottom: 30px !important;
    }
    .header nav .toogle-menu:hover + ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 82%;
        width: 133%;
        left: -16.5%;
        padding: 0;
        background-color: rgba(0, 0, 0, 0.413);
    }
    .header nav ul li a.active {
        padding-bottom: 12.5px;
    }
} 


/* landing */

.landing {
    position: relative;
    height: 100vh;
    width: 100%;
    left: 0;
    background-size: cover;
    background-image: url(../imgs/landing.jpg);
}

.landing .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.608);
}

.landing .content {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 50%;
    left: 0;
    width: 50%;
    transform: translateY(-50%);
    color: white;
    background-color: var(--main-trans);
    padding: 35px 30px 35px 65px;
}

.landing .text {
    max-width: 550px;
}

.landing .text h2 {
    font-size: 35px;
    font-weight: normal;
    line-height: 1.5;
}

.landing .text p {
    font-weight: 100;
    line-height: 1.5;
}

.landing .control {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.landing .control .right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 30px;
    padding: 0px 30px;
}

.landing .control .left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 30px;
    padding: 0px 30px;
}

.landing .control .left:hover ,
.landing .control .right:hover {
    color: var(--main-color);
}

.landing .control ul {
    position: absolute;
    display: flex;
    left: 50%;
    bottom: 0;
    transform: translateX(-68%);
    list-style: none;
}

.landing .control ul li {
    border: 1px white solid;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin:0 3px;
}

.landing .control ul li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

@media (min-width:0px) and (max-width:675px) {
    .landing .content {
        width:100% ;
    }
    .landing .control {
        display: none;
    }
}

/* Services */

.services {
    position: relative;
}

.main-heading {
    background-color: white;
    text-align: center;
    padding: 50px;
}

.main-heading h2 {
    font-size: 45px;
    font-weight: normal;
    margin: 0px 0px 40px 0;
}

.main-heading h2::before {
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    background-color: #333;
    position: relative;
    bottom: -73px;
    left: 50%;
    transform: translateX(-50%);
}

.main-heading h2::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #333;
    background-color: white;
    position: relative;
    bottom: -12.5px;
    left: 50%;
    transform: translateX(-50%);
}

.main-heading .text {
    max-width: 600px;
    margin: 0 auto;
}

.services .container {
    padding: 50px 0;
}

.services .srv-cont {
    position: relative;
    background-color: white;
    padding: 40px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}

.services .srv-cont .srv-box {
    display: flex;
}

.services .srv-cont .srv-box i{
    padding: 30px 30px 30px 0;
}
.services .srv-cont .srv-box h2{
    color: var(--main-color);
}

@media (min-width:0px) and (max-width:675px) {
    .services .srv-cont .srv-box {
        display: flex;
        flex-direction: column;
        text-align: center;
    }    
    .services .srv-cont .srv-box i {
        padding: 0px;
    }
}

@media (max-width:992px) {
    .services .srv-cont {
        display: block;
    }
    .services .srv-box {
        padding: 20px 0;
    }
}

/* Design */

.design {
    position: relative;
    width: 100%;
    max-height: 600px;
    overflow: hidden;
    background-size: cover;
}

.design .backimg {
    position: relative;
    background-size: cover;
    z-index: -1;
}

.design .backimg img {
    position: relative;
    min-width: 100%;
    min-height: 500px;
    background-size: cover;
    left: 50%;
    transform: translateX(-50%);
}

.design .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    background-color: #00000079;
}

.design .phoneimg {
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translateX(-20%);
}

.design .phoneimg img {
    max-width: 350px;
    position: absolute ;
    top: 50px;
}

.design .content {
    position: absolute;
    width: 50%;
    padding: 20px 50px;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    color: white;
    background-color: var(--main-trans);
}

.design .content .pros {
    display: flex;
}

.design .content .pros i {
    padding: 15px ;
}

@media (min-width:0px) and (max-width:675px) {
    .design{
        /* height: 600px; */
        background-size: cover;
    }
    .design .phoneimg {
        display: none;
    }
    .design .content {
        width: 100%;
    }
}
@media (max-width:1160px) {
    .design .phoneimg {
        display: none;
    }
    .design .content {
        width: 100%;
        text-align: center;
    }
    .design .content .pros {
        justify-content: center;
    }
    .design .pros p {
        width: 250px;
    }
}

/* Start Protfolio */

.protfolio {
    position: relative;
}

.protfolio .head {
    position: relative;
    text-align: center;
    background-color: white;
    padding: 50px;
    text-wrap: nowrap;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.protfolio .head a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px 15px;
    width: 100%;
    transition: 0.5s ease-in-out;
}

.protfolio .head .active {
    background-color: var(--main-color);
    color: white;
}

.protfolio .head a:hover {
    background-color: var(--main-color);
    color: white;
}

.protfolio .imgs {
    position: relative;
    /* display: grid;
    grid-template-columns: repeat(4 , 1fr); */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 25%;
}
.protfolio .imgs img {
    max-width: 100%;
    transition: 0.5s ease-in-out;
}

.protfolio .box {
    position: relative;
    overflow: hidden;
    flex-basis: 25%;
}

.protfolio .box .caption {
    position: absolute;
    bottom: -100%;
    background-color: white;
    width: 100%;
    padding: 5px;
    transition: 0.5s ease-in-out;
}

.protfolio .box .caption .p2 {
    color: var(--main-color);
}

.protfolio .imgs .box:hover .caption{
    bottom: 0;
}
.protfolio .imgs .box:hover img {
    transform: rotate(10deg)  scale(130%);
}

.protfolio .end {
    position: relative;
    text-align: center;
    background-color: white;
    padding: 40px;
}

.protfolio .end a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px 15px;
    width: 100%;
    transition: 0.5s ease-in-out;
}

.protfolio .end a:hover {
    background-color: var(--main-color);
    color: white;
}

@media (min-width:0px) and (max-width:675px) {
    .protfolio .box {
        flex-basis: 100%;
    }
}
@media (min-width:676px) and (max-width:1200px) {
    .protfolio .box {
        flex-basis: 50%;
    }
}

/* Start Vid  */

.backvid {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.backvid .vid video {
    position: relative;
    width: 100%;
}
.backvid .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #33333371;
}
.backvid .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--main-trans);
    width: 100%;
    text-align: center;
    padding: 40px;
    color: white;
}
.backvid .content p {
    padding-bottom: 20px;
}
.backvid .content a {
    text-decoration: none;
    color: white;
    background-color:#000000;
    padding: 10px;
    transition: 0.5s ease-in-out;
}
.backvid .content a:hover {
    background-color: var(--main-color);
}

/* start about  */

.about {
    position: relative;
}
.about .container {
    position: relative;
    overflow: hidden;
}
.about .container .img {
    position: relative;
    max-height: 260px;
    overflow: hidden;
}
.about .container img {
    position: relative;
    background-color: white;
    max-width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

/* Start Stauts  */

.status {
    position: relative;
    background-size: cover;
    background-image: url(../imgs/stats.png);
    padding: 100px 0px;
}
.status .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #333333c9;
}
.status .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--main-trans);
    padding: 50px 30px;
    text-align: center;
}
.status .container .box {
    flex-basis: 25%;
    position: relative;
    padding: 10px 15px;
    text-align: center;
    color: white;
}
.status .container .box i {
    background-color: #000000;
    border-radius: 50%;
    padding: 10px;
    left: 50%;
    top: 50%;
}
.status .container .box .number {
    padding: 15px 10px;
    font-weight: bold;
    font-size: 55px;
}
@media (min-width:0px) and (max-width:675px) {
    .status .container .box {
        flex-basis: 100%;
        padding: 30px 0;
    }
}
@media (min-width:676px) and (max-width:1200px) {
    .status .container .box {
        flex-basis: 50%;
        padding: 15px ;
    }
}

/* Start skill  */

.skill {
    position: relative;
    background-color: white;
    padding: 50px;
}
.skill .container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}
.skill .container .testmonials {
    max-width: 600px;
    flex-basis: 50%;
    padding-right: 60px;
}
.skill .container .testmonials ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
.skill .container .testmonials ul li {
    position: relative;
    border: 1px solid #777;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 5px;
}
.skill .container .testmonials ul .active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.skill .container .skills {
    max-width: 600px;
    flex-basis: 50%;
    padding-left: 15px;
}
.skill .container  h2 {
    font-weight: normal;
    color: #333;
    padding: 30px;
}
.skill .container p {
    padding: 40px 10px;
    margin-bottom: 15px;
}
.skill .container .content {
    display: flex;
    margin: 0 15px ;
    margin-bottom: 30px;
    border-bottom: 1px solid #b4b4b4;
}
.skill .container .content img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 30px;
}
.skill .container .content .text {
    text-align: left;
}
.skill .container .content .text p {
    padding: 15px;
    text-align: right;
    font-weight: 100;
}
.skill .container .box {
    text-align: left;
    transform: translateX( calc( 50% - 200px ) );
}
.skill .container .box h4 {
    font-weight: normal;
}
.skill .container .box .prog {
    width: 400px;
    height: 30px;
    background-color: #b3b3b3;
}
.skill .container .box .prog .pr1 {
    background-color: var(--main-color);
    width: 90%;
    height: 100%;
    display: block;
    padding: 0;
    margin:0  ;
}
.skill .container .box .prog .pr1::before {
    content: "90%";
    position: relative;
    display: block;
    width: 30px;
    background-color: #000000;
    color: white;
    padding: 5px;
    border-radius: 5px;
    left: 94%;
    top: -40px;
}
.skill .container .box .prog .pr1::after{
    content: "";
    display: block;
    position: relative;
    height: 0;
    width: 0;
    left: 97%;
    top: -40px;
    border-top: 10px solid black;
    border-bottom: 10px solid rgba(0, 0, 0, 0);
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgba(0, 0, 0, 0);
}
.skill .container .box .prog .pr2 {
    background-color: var(--main-color);
    width: 85%;
    height: 100%;
    display: block;
    padding: 0;
    margin:0  ;
}
.skill .container .box .prog .pr2::before {
    content: "85%";
    position: relative;
    display: block;
    width: 30px;
    background-color: #000000;
    color: white;
    padding: 5px;
    border-radius: 5px;
    left: 94%;
    top: -40px;
}
.skill .container .box .prog .pr2::after{
    content: "";
    display: block;
    position: relative;
    height: 0;
    width: 0;
    left: 97%;
    top: -40px;
    border-top: 10px solid black;
    border-bottom: 10px solid rgba(0, 0, 0, 0);
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgba(0, 0, 0, 0);
}
.skill .container .box .prog .pr3 {
    background-color: var(--main-color);
    width: 80%;
    height: 100%;
    display: block;
    padding: 0;
    margin:0  ;
}
.skill .container .box .prog .pr3::before {
    content: "80%";
    position: relative;
    display: block;
    width: 30px;
    background-color: #000000;
    color: white;
    padding: 5px;
    border-radius: 5px;
    left: 94%;
    top: -40px;
}
.skill .container .box .prog .pr3::after{
    content: "";
    display: block;
    position: relative;
    height: 0;
    width: 0;
    left: 97%;
    top: -40px;
    border-top: 10px solid black;
    border-bottom: 10px solid rgba(0, 0, 0, 0);
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgba(0, 0, 0, 0);
}
.skill .container .box .prog .pr4 {
    background-color: var(--main-color);
    width: 90%;
    height: 100%;
    display: block;
    padding: 0;
    margin:0  ;
}
.skill .container .box .prog .pr4::before {
    content: "90%";
    position: relative;
    display: block;
    width: 30px;
    background-color: #000000;
    color: white;
    padding: 5px;
    border-radius: 5px;
    left: 94%;
    top: -40px;
}
.skill .container .box .prog .pr4::after{
    content: "";
    display: block;
    position: relative;
    height: 0;
    width: 0;
    left: 97%;
    top: -40px;
    border-top: 10px solid black;
    border-bottom: 10px solid rgba(0, 0, 0, 0);
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgba(0, 0, 0, 0);
}
@media (min-width:0px) and (max-width:675px) {
    .skill .container {
        justify-content: center;
    }
    .skill .container .testmonials {
        flex-basis: 100%;
    }
    .skill .container .skills {
        flex-basis: 100%;
        padding-bottom: 50px;
    }
}
@media (min-width:676px) and (max-width:1200px) {
    .skill .container {
        justify-content: center;
    }
    .skill .container .testmonials {
        flex-basis: 100%;
        width: 100%;
    }
    .skill .container .skills {
        flex-basis: 100%;
        width: 100%;
        padding-bottom: 50px;
    }
}

/* Start quote  */

.quote {
    position: relative;
    text-align: center;
    padding: 50px;
    background-image: url(../imgs/quote.jpg);
    background-size: cover;
    color: white;
}
.quote::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0000009c;
}
.quote .container {
    position: relative;
    font-size: 30px;
}
.quote .container .text {
    padding-top: 15px;
}
.quote .container p {
    font-weight: normal;
    font-size: medium;
    padding: 10px;
}

/* Start Pricing */

.price {
    position: relative;
    background-color: white;
    text-align: center;
}
.price .main-box {
    display: flex;
    position: relative;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-around;
}
.price .main-box .box {
    flex-basis: 25%;
    margin: 0 15px;
}
.price .min-box {
    border-top: 1px var(--main-color) solid;
    border-bottom: 1px var(--main-color) solid;
}
.price .main-box .box .type {
    font-size: larger;
    padding: 15px;
}
.price .main-box .box .number {
    font-size: 60px;
    font-weight: bold;
    padding: 30px 60px;
}
.price .main-box .box .number::before {
    content: "$";
    font-size: 25px;
    font-weight: normal;
    position: relative;
    top: -30px;
    left: -5px;
}
.price .main-box .box .number::after {
    content: "/MO";
    font-size: 20px;
    font-weight: normal;
    position: relative;
    right: -10px;
}
.price .main-box .box .p1 ,
.price .main-box .box .p2 ,
.price .main-box .box .p3 ,
.price .main-box .box .p4 {
    padding: 25px ;
    border-bottom: 1px var(--main-color) solid;
    width: fit-content;
    margin: 0 auto;
}
.price .main-box .box p a .a {
    padding: 0;
}
.price .main-box .box a {
    text-decoration: none;
    width: fit-content;
    display: block;
    color: black;
    padding: 15px;
    border: var(--main-color) 1px solid;
    position: relative;
    top: 30px;
    margin: 0 auto;
    transition: 0.3s ease-in-out;
}
.price .main-box .box a:hover {
    color: white;
    background-color: var(--main-color);
}
.price .end {
    position: relative;
    padding: 50px;
}
.price .end p {
    padding: 25px;
}
.price .end a {
    text-decoration: none ;
    color: white;
    padding: 15px 20px ;
    background-color: var(--main-color);
}
@media (min-width:0px) and (max-width:675px) {
    .price .main-box {
        justify-content: center;
        flex-wrap: wrap;
    }
    .price .main-box .box {
        flex-basis: 100%;
        padding-bottom: 50px;
    }
}
@media (min-width:676px) and (max-width:1200px) {
    .price .main-box {
        justify-content: center;
        flex-wrap: wrap;
    }
    .price .main-box .box {
        flex-basis: 50%;
        padding-bottom: 50px;
        margin: 0px;
        padding: 15px;
    }
}

/* Start Subscribe  */

.sub {
    position: relative;
    padding: 80px;
    background-image: url(../imgs/subscribe.jpg);
    background-size: cover;
}
.sub::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-color: #0000009f;
}
.sub .container {
    display: flex;
    position: relative;
    justify-content: space-around;
}
.sub .container form {
    display: flex;
    color: white;
}
.sub .container form input[type=email] {
    padding: 20px 50px;
    background-color: #00000000;
    border: 1px solid white ;
    border-right: none;
    caret-color: var(--main-color);
    color: white;
}
.sub .container form input[type=email]::placeholder {
    color: white;
}
.sub .container form input[type=email]:focus {
    outline: none;
}
.sub .container form input[type=submit] {
    color: white;
    background-color: var(--main-color);
    border: 1px solid white ;
    border-left: none ;
    padding: 0 20px;
}
.sub .container form i {
    font-size: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 15px;
}
.sub .container .text {
    max-width: 400px;
    color: white;
}
@media (min-width:0px) and (max-width:675px) {
    .sub .container {
        justify-content: center;
        flex-wrap: wrap;
    }
    .sub .container .form,
    .sub .container .text {
        flex-basis: 100%;
        padding-bottom: 50px;
        padding: 50px 0;
        text-align: center;
        padding-bottom: 0;
    }
    .sub .container form i {
        top: 29px;
    }
}
@media (min-width:676px) and (max-width:1200px) {
    .sub .container {
        justify-content: center;
        flex-wrap: wrap;
    }
    .sub .container .form,
    .sub .container .text {
        flex-basis: 100%;
        padding-bottom: 50px;
        padding: 50px 0;
        text-align: center;
        padding-bottom: 0;
    }
    .sub .container .text {
        width: 100%;
    }
    .sub .container form i {
        top: 29px;
    }

}

/* Start Contact  */

.contact {
    position: relative;
    background-color: white;
}
.contact .container .box {
    display: flex;
    justify-content: space-evenly;
}
.contact .container .box form {
    width: 70%;
    padding-right: 20px;
}
.contact .container .box form input,
.contact .container .box form textarea { 
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.247);
    width: 100%;
}
.contact .container .box form input[type=submit] {
    display: flex;
    width: fit-content;
    position: relative;
    border: 0;
    background-color: var(--main-color);
    color: white;
    margin-left: auto;
}
.contact .container .box .content .ph {
    position: relative;
    padding-bottom: 50px;
}
.contact .container .box .content .ph h3 {
    margin-top:0 ;
}
.contact .container .box .content .ph p {
    color: #8a8a8a;
}
.contact .container .box .content .sh h3 {
    margin-top: 0;
}
.contact .container .box .content .sh p {
    line-height: 1.5;
    color: #8a8a8a;
} 
@media (min-width:0px) and (max-width:675px) {
    .contact .container .box {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        flex-direction: column-reverse;
        margin-top: 50px;
    }
    .contact .container .box form {
        width: 100%;
        margin-top: 50px;
    }
}

/* Start Footer */

.footer {
    position: relative;
    background-image: url(../imgs/subscribe.jpg);
    background-size: cover;
    color: white;
    text-align: center;
    padding: 50px;
    margin-top: 50px;
}
.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000c2;
}
.footer .container {
    position: relative;
}
.footer .container img {
    padding: 30px;
    padding-top: 10px;
}
.footer .container p {
    width: fit-content;
    margin: 0 auto;
}
.footer .container .txt {
    padding: 20px;
    border-bottom: 1px solid white;
}
.footer .container .logos {
    padding-top: 20px;
    padding-bottom: 50px;
}
.footer .container .logos i {
    padding: 5px;
}
.footer .container .copyr span {
    color: var(--main-color);
    font-weight: bold;
}
